Package: mm8d-eec
Version: 0.3.1
Section: misc
Priority: optional
Architecture: armhf
Installed-Size: 1.8 MB
Maintainer: Pozsár Zsolt <pozsar.zsolt@szerafingomba.hu>
Depends: mm8d-sw
Description: Environment characteristic editor
 This is a part of operating program of MM8D growing house and
 irrigation controlling and remote monitoring device.
