body, p, td, th, a, b { font-family: verdana, arial, helvetica, sans-serif; font-size: 3vw }
body.normal { background-color: #fff }
a.header { color: white; text-decoration: none}
b.header { color: white }
b.title0 { color: white; font-size: 5vw }
b.title1 { color: #666699; font-size: 4vw }
b.warning { color: red }
td.header { background-color: #666699 }
td.empty { background-color: #c6c6c6 }
