[Unit]
Description=MM8D controlling software

[Service]
ExecStart=/usr/local/bin/mm8d.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

